/*!CK:2072906509!*//*1449614433,*/

._3s33{color:#9197a3;line-height:40px;padding-right:10px}._3s33._3s34{color:#3b5998;padding-right:20px}._3s32{bottom:1px;left:5px;position:relative}

#bootloader_sKwaW{height:42px;}.bootloader_sKwaW{display:block!important;}